@import "tailwindcss";

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: "Nunito", sans-serif;
    @apply bg-slate-900 text-white;
}